{% comment %} # this is a base file {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cat Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;CatCollector</a></li>
        </ul>
        <ul class="right">
          {% comment %} <li><a href="/about">About</a></li> {% endcomment %}
          <li><a href="{% url 'about' %}">About</a></li>

          <li><a href="{% url 'cats_create' %}">Add a Cat</a></li>
          
          {% comment %} <li><a href="/cats">View Cats</a></li>
           {% endcomment %}
           <li><a href="{% url 'cats' %}">View All My Cats</a></li>

        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  {% comment %} <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019 Cat Collector &nbsp;</div>
  </footer> {% endcomment %}
  <footer class="page-footer">
    <div class="footer-copyright">
        <div class="container right">All Rights Reserved,&copy; 2022 Cat Collector &nbsp;</div>
    </div>
</footer>
</body>
</html>